/* You can add global styles to this file, and also import other style files */

body, html {
    padding: 0px;
    margin: 0px;
    background-color: rgb(221, 233, 255);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}