.outer-container {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(61, 61, 255);
    height: 130px;
    width: 130px;
    border-radius: 0 0 0 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);

    .inner-container {
        background-color: rgb(140, 140, 255);;
        margin-left: auto;
        height: 120px;
        width: 120px;
        border-radius: 0 0 0 100%;
        
        img {
            height: 100px;
            width: 100px;
            margin: auto;
            display: block;
            padding-left: 20px;

        }
    }

}


