<app-gitlab-badge></app-gitlab-badge>

<div class="main-container">
    <div class="content-header"></div>
    <div class="content">
        <div class="card">
            <div class="header">
                <h2>Join Channel</h2>
            </div>
            <div class="body">
                <div class="text-input">
                    <fa-icon [icon]="faUser" class="icon"></fa-icon>
                    <input #username type="text"  placeholder="Username"/>
                </div>
                <div class="text-input">
                    <fa-icon [icon]="faLock" class="icon"></fa-icon>
                    <input #password type="password" placeholder="Password"/>
                </div>
                <div class="button">
                    <button type="button" (click)="onClickJoin(username.value, password.value)">Join Channel</button>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="banner">
            <h2>A Simple E2EE Chat Application</h2>
        </div>
    </div>
    <div class="footer">
    </div>
</div>